.question
  = link_to question.body, question_url(question)
  %span= question.vote_count
.vote
  = form_tag question_upvote_url(question), method: 'put', class: 'question-form' do
    = button_tag 'vote', value: 'vote'
